<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/985c010c44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="register">
    <header class="sticky">
        <div class="header_div_conteiner">
            <div class="header_div">
                <a href="/"><img src="images/logo-mercado-liebre.svg" class="logo"></a>
            </div>
            <div class="header_div">
                <form class="header_div_form" action="">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button onclick="alert('Hola estamos procesando tu información!')"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>

        <p class="header_p"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>

        <nav class="header_navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <p id="crea_tu_cuenta">Creá tu cuenta</p>
        <form action="/" method="get" class="register_form">
            
            <input type="text" name="nombre" placeholder="Nombre y apellido" class="controls" minlength="6" required>
            <br><br>
            
            <input type="text" name="usuario"  placeholder="Nombre de Usuario" class="controls" minlength="6" required>
            <br><br>
            
            <input type="email" name="email"  placeholder="Email" class="controls" required>
            <br><br>
            
            <input type="date" name="nacimiento"  class="controls" required>
            <br><br>
            
            <input type="text" name="domicilio" placeholder="Domicilio" class="controls" minlength="6" required>
            <br><br>

            <label for="perfil">Perfil del usuario</label>
            <p id="register_radios">
            <input type="radio" name="perfil" id="perfil" value="Comprador" required> Comprador
            <input type="radio" name="perfil" id="perfil" value="Vendedor" required>Vendedor
            </p>

            <br><br>
            <label for="intereses" id="intereses" class="register_intereses" required>Intereses</label>
            
            <p id="register_checkbox">
            <p class="checkboxs"><input type="checkbox" name="electro" id="intereses" value="electro">Electro </p>
            <p class="checkboxs"><input type="checkbox" name="moda" id="intereses" value="moda" >Moda </p>
            <p class="checkboxs"><input type="checkbox" name="hogar" id="intereses" value="hogar" >Hogar </p>
            <p class="checkboxs"><input type="checkbox" name="juguetería" id="intereses" value="juguetería" >Juguetería </p>
            <p class="checkboxs"><input type="checkbox" name="vida sana" id="intereses" value="vida sana" >Vida sana </p>
            </p>
        
            <p id="photo">
            <label for="foto" >Foto de usuario</label>
            <input type="file" name="foto" id="foto" accept=".jpg, .png" required><br><br>
            </p>
            
            <input type="password" name="contraseña" placeholder="Contraseña" class="controls" minlength="8" required><br><br>
            
            <input type="password"  name="contraseña 2" placeholder="Confirmar contraseña" class="controls" minlength="8" required><br><br>    

            <button type="reset" class="register_borrar">Borrar</button>
            <button type="submit" class="register_registrar">Registrar</button>    


        </form>

    </main>
    <footer>
        <section>
            <div class="footer_div_icon">
            <i class="fa-solid fa-credit-card"></i>
            </div>
                <h3 class="footer_section_h3">Pagá con tarjeta o en efectivo</h3>
                <p class="footer_section_p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
    
            <section>
            <div class="footer_div_icon">
                <i class="fa-solid fa-gift"></i>
            </div>
                <h3 class="footer_section_h3"> Envío gratis desde $ 2.500</h3>
                <p class="footer_section_p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
    
            <section>
            <div class="footer_div_icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>
                <h3 class="footer_section_h3">Seguridad, de principio a fin</h3>
                <p class="footer_section_p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>
            
            <p class="ultimo_p">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>

</html>